body{
	font-family:Calibri,serif;
	margin:0%;
	padding:0px;
	}
nav > ul{
	margin:0%;
	padding:0px;
	}
nav > ul > li{
	float:left;
	
	}
nav li{
	list-style-type:none;
	}
nav ul li ul{
	display:none;
}

nav li:hover ul{
	display:inline-block;
	position:absolute;
	top:100%;
	left:0%;
	padding:0px;
	z-index:100000;
}
nav{
	width:100%;
	background-color:#424558;
}
nav > ul > li{
	float:left;
	position:relative;
}
nav > ul::after{
	content:"";
	display:block;
	clear:both;
}
nav a{
	display: inline-block;
	text-decoration:none;
}
nav > ul > li > a{
	padding: 20px 30px;
	color:#FFF;
}
nav ul li ul li{
	border-bottom:1px solid #CCC;
}
nav ul li ul li a{
	padding: 15px 30px;
	font-size:medium;
	color:#FFF;
	width:270px;
}
nav ul li:hover{
	border-top: 5px solid ;
	background-color:rgba(108,108,108,0.3);
}
nav > ul > li:hover a{
	padding:15px 30px 20px 30px;
}
nav ul li ul{
	background-color:rgb(108,108,108);
}
nav ul li ul li:hover a{
	color:#FFF;
	font-weight:bold;
}
nav ul li ul li:hover{
	background-color:rgba(214,207,237,0.5);
}

h1,h2{ 
	color:rgb(75,114,165);
	margin-left:10%;
	
}
h3,h4{
    font-size:large;
	color:rgb(75,114,165);
}

p,li p{
	font-size:large;
	margin-left:2%;
	margin-right:5%;
	
}
article p{
	font-size:large;
	margin-left:5%;
	margin-right:5%;
	
}
aside{
	background-color:rgba(214,207,237,0.9);
	padding:5px;
	border-radius: 5px 5px 5px 5px;
	border-color:rgb(000,112,192);
	margin:1%;
	float:top;
	position:relative;
	left:65%;
	width:30%;
	
}
code{
	font-size:medium;
	color:#FFF;
	padding:10px;
	background-color:#424558;
	display:block;
	margin-right:5%;
	margin-left:5%;
}
article{
	font-size:large;
	padding:10px;
	margin-left:5%;
	margin-top:10%;
	margin-right:5%;
	background-color:rgba(214,207,237,0.5);
}
section{
	margin:1%;
	padding-left:5px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:rgba(214,207,237,0.5);
	display:inline-block;
	vertical-align:top;
	border-radius: 5px 5px 5px 5px;
}
dd{	
	font-weight:bold;
	font-size:large;
	display:inline;
}
dt{
	font-size:large;
	display:inline;
}

ol li,ul  li{
	font-size:large;
}
table{
	border-collapse:collapse;
	margin-left:3%;
	margin-right:5%;
	background-color:rgba(112,146,190,0.5);
	padding:5px;
}
th{	border: 5px solid rgba(214,207,237,0.98);
	padding: 5px;
	text-align:center;
}
td{  border: 5px solid rgb(214,207,237);
	padding: 5px;

}
caption{
	margin-bottom:1%;
	font-size:medium;
}

section ul{
	list-style:none;
}
 button{
	background-color:#424558;
	border-radius: 5px 5px 5px 5px;
	margin:1%;
	height:7%;
	width:10%;
	padding: 5px 5px;
	position:relative;
	left:62%;
}
button:hover{
		background-color:rgba(81,81,81,0.8);
}
button a{
	font-size:medium;
	color:#FFF;
	text-decoration:none;
}
footer{
	margin:1%;
}
footer p{
	
	width:50%;
	position:relative;
	left:27%;
	font-size:small;
}
aside ul,aside h4{
	margin-left:1%;
	padding-left:2%;
}

